// コンテンツ
.c-container{
	width: 100vw;
	height: auto;
}

.c-contents{
	&-inner{
		width: 90%;
		margin: auto;
		@include min(768){
			width: 95%;
		}
	}
	// ヘッダー > ロゴ
	&.-h-logo{
		position: relative;
		.c-contentsBox{
			position: absolute;
			// ヘッダーロゴ
			&.-logo{
				&-item01{//オレンジ
					top: -2%;
					left: 38.5%;
					width: 5%;
					height: 40%;
					@include min(768){
						top: 5.5%;
						left: 1.95%;
						width: 2.9%;
						height: 66%;
					}
				}
				&-item02{//グレー&茶色
					top: -2%;
					left: 45.3%;
					width: 5%;
					height: 40%;
					@include min(768){
						top: 5.5%;
						left: 5.7%;
						width: 2.9%;
						height: 66%;
					}
				}
				&-item03{//紺
					top: -2%;
					left: 51.8%;
					width: 5%;
					height: 40%;
					@include min(768){
						top: 5.5%;
						left: 9.5%;
						width: 2.9%;
						height: 66%;
					}
				}
			}
			// SOLD OUT
			&.-soldOut{
				top: 36%;
				left: 45%;
				transform: rotate(-5deg) translate(-50%, -50%);
				width: 70%;
				z-index: 99;
				filter: drop-shadow(1px 1px 2px rgb(128, 128, 128));
				img{background: $sold-out;}
				@include min(768){
					top: 41%;
					left: 63%;
					width: 40%;
				}
			}
		}
	}
	// ファーストビュー > ロゴ
	&.-f-logoBox{
		position: relative;
		overflow: hidden;
		.c-contentsBox{
			position: absolute;
			// ヘッダーロゴ
			&.-f-logo{
				&-item01{//オレンジ
					top: 0;
					left: 0;
					width: 25%;
					height: 80%;
				}
				&-item02{//グレー&茶色
					top: 0;
					left: 39%;
					transform: translateX(-50%);
					width: 25%;
					height: 80%;

				}
				&-item03{//紺
					top: 0;
					left: auto;
					right: 0;
					width: 25%;
					height: 80%;
				}
				&-item04{//STYLE HOUSE
					bottom: 0;
					left: 0;
					width: 100%;
				}
			}

		}
	}

	&.-f-slider,//スライダー
	&.-f-view{  //ファーストビュー
		width: 100%;
		height: auto;
		@include min(768){
			// min-height: 480px;
		}
	}
	&.-f-slider{// スライダー
		position: relative;
		.c-contentsBox{
			position: absolute;
			// ファーストビュー×スライダー関係
			// ファーストビュー > テキスト関係
			&.-f-title01{
				&_top{
				top: 30%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 80%;
				filter: drop-shadow(.5px .5px 0px #ffffff6c);
				// overflow: hidden;
				}
				&_btm{
					top: 35%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 80%;
					filter: drop-shadow(.5px .5px 0px #ffffff6c);
				}
				&_grancia{
					top: 40%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 20%;
					filter: drop-shadow(.5px .5px 0px #ffffff6c);
				}
			}
			&.-f-title02{
				&_top{
					top: 76%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 80%;
					filter: drop-shadow(.5px .5px 0px #ffffff6c);
					// overflow: hidden;
				}
				&_btm{
					top: 80%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 80%;
					filter: drop-shadow(.5px .5px 0px #ffffff6c);
				}
				&_grancia{
					top: 85%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 20%;
					filter: drop-shadow(.5px .5px 0px #ffffff6c);
				}
			}

			&.-f-des{
				bottom: 1px;
				left: 90%;
				transform: translateX(-50%);
				white-space: nowrap;
				// width: auto;
				@include min(768){
					left: 60%;
					transform: scale(.8);
				}
				&.-w{
					@include min(768){
						left: 53%;
					}
					@include min(1400){
						left: 72%;
					}
				}
			}
		}
	}
	&.-f-view{//ファーストビュー
		position: relative;
		.imgBox{
			@include max(768){
				opacity: .75;
			}
		}
		.c-contentsBox{
			position: absolute;

			&.-f-title{
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 60%;
				@include max(768){
					width: auto;
					// タイトル > 中央
					&.-f-title_c{
						&::after{
							position: absolute;
							top: 120%;
							left: 50%;
							transform: translate(-50%,-50%);
							width: 100%;
							font-size: 14px;
							text-align: center;
						}
					}
					// タイトル > 右下
					&.-f-title_r{
						top: 82%;
    					left: 83%;
						&::after{
							position: absolute;
							top: 120%;
							left: 50%;
							transform: translate(-50%,-50%);
							width: 100%;
							font-size: 14px;
							text-align: center;
						}
					}
					//　タイトル >  コンセプトページ
					&.-concept{&::after{content: "コンセプト";}}
					&.-layout{&::after{content: "レイアウト";}}
					&.-plan{&::after{content: "プラン";}}
					&.-equipment{&::after{content: "設備・仕様";}}
					&.-location{&::after{content: "周辺環境";}}
				}
				@include min(768){// tb
					top: 50%;
					left: 75%;
					width: 38%;
					&.-f-title_r{
						@include min(768){
							top: 90%;
							left: 93%;
							width: auto !important;
						}
					}
				}
				@include min(1400){
					top: 49%;
					left: 76%;
					width: 40% !important;
				}
			}
			&.-f-icon{
				top: 77%;
				left: 94%;
				transform: translate(-50%, -50%);
				width: 12%;
				@include min(768){
					top: 92%;
					left: 98%;
					width: 5%;
				}
			}
			&.-f-text{
				bottom: 0;
				left: 80%;
				transform: scale(.9);
			}
		}
	}


	&.-imgBg{//背景画像
		position: relative;
		.c-contentsBox{
			position: absolute;
			&.-text{
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
			}
			// ヘッダーロゴ
			&.-logo{
				&-item01{//緑色の鳥
					top: 54%;
					left: 95.5%;
					width: 5%;
					@include min(768){
						top: 17.5%;
						left: 30.8%;
						width: 2.3%;
					}
				}
				&-item02{//黄色の鳥
					top: 45%;
					left: 100%;
					width: 5%;
					@include min(768){
						top: 10%;
						left: 33%;
						width: 1.5%;
					}
				}
			}
			// ファーストビュー > ロゴ
			&.-f-logo_s{
				@include max(768){
					top: 8%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 60%;
					z-index: 1;
				}
			}
			&.-f-logo{
				top: 15%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 20%;
				max-width: 80px;
			}

			&.-slash{
				top: 50%;
				width: 1.5px;
				height: 250%;
				background: black;
				transform: translate(-50%, -50%) rotate(45deg);
				&-item01{left: 29%;}
				&-item02{left: 65%;}
				&-item03{left: 99%;}
				&.-white{
					width: 1px;
					background: $main-color--w;
				}
			}


			// 区画エリア
			&.-no01{
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: auto;
				a{display: inline-block;
				}
			}
		}
	}
}